<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABdZ8iYc_z7FgwSo4vHKVCq280zBMM-r4</string>
	<key>GCM_SENDER_ID</key>
	<string>403024144797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theNotfiers.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-notifier-80609</string>
	<key>STORAGE_BUCKET</key>
	<string>the-notifier-80609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403024144797:ios:f2f19fa3d17e3865f3e774</string>
</dict>
</plist>